$greenlight: rgba(2, 172, 143, 0.2);
$greenlight-hover: rgba(2, 172, 143, 0.4);

$green: #02AC8F;
$green-hover: #018B7E;

$yellow: #FFE121;
$orange: #FFA524;

$black: #000;
$white: #fff;

$bg-nav: rgba(2, 172, 143, 0.05);
// $bg-about: #E5E5E5;