<div class="accordeon">
  <div class="container">
    <div class="accordeon-wrapper">
      <button class="accordeon__btn">
        Middle web designer
      </button>
      <div class="accordeon__content">
        <div class="accordeon__content-inner">
          <div class="accordeon__postscript">
            <span class="accordeon__postscript-num">
              >6
            </span>
            лет опыта
          </div>
          <div class="accordeon__content-text">
            Самостоятельный дизайнер с отличной насмотренностью, который способен без помощи арт-директора решать как
            базовые дизайн-задачи так и сложные (дизайн лендингов, подач, презентаций и тд.)
          </div>
          <div class="accordeon__tabs">
            <div class="accordeon__tabs-btn">
              <button class="accordeon__tab-btn accordeon__tab-btn--active" data-id="1">
                Требования
              </button>
              <button class="accordeon__tab-btn" data-id="2">
                Обязанности
              </button>
              <button class="accordeon__tab-btn" data-id="3">
                Стек
              </button>
            </div>
            <div class="accordeon__tabs-content">

              <div class="accordeon__tab-content" data-id="1">
                <div class="accordeon__tab-inner">
                  <div class="accordeon__tab-items">
                    <div class="accordeon__tab-item">
                      Опыт работы в сфере графики и веба: 6–9 лет и выше
                    </div>
                    <div class="accordeon__tab-item">
                      Умение при необходимости самостоятельно взаимодействовать в коммуникации с подрядчиком
                    </div>
                    <div class="accordeon__tab-item">
                      Понимание проектирования взаимодействия и создания информационной архитектуры проекта
                    </div>
                    <div class="accordeon__tab-item">
                      Сильное портфолио с кейсами в сфере корпоративного/информационного веба
                    </div>
                    <div class="accordeon__tab-item">
                      Умение декомпозировать задачи, организовывать и синхронизировать командную работу с другими дизайнерами
                    </div>
                    <div class="accordeon__tab-item">
                      Умение быстро подобрать нужные референсы из топовых работ в сфере веба и использовать их в работе
                    </div>
                    <div class="accordeon__tab-item">
                      Ответственность, желание развиваться, обучаемость, перфекционизм, любовь к деталям и минимализму
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordeon__tab-content" data-id="2">
                Tab-2-content
              </div>

              <div class="accordeon__tab-content" data-id="3">
                Tab-3-content
              </div>

            </div>
          </div>
          <a class="accordeon__content-btn" href="#">
            <span class="accordeon__content-btn--email">
              <img src="" alt="">
            </span>Откликнуться
          </a>
        </div>
      </div>
    </div>
    <div class="accordeon-wrapper">
      <button class="accordeon__btn">
        Системный аналитик
      </button>
      <div class="accordeon__content">
        <div class="accordeon__content-inner">
          Content Accordeon-2
        </div>
      </div>
    </div>
    <div class="accordeon-wrapper">
      <button class="accordeon__btn">
        IT sales manager
      </button>
      <div class="accordeon__content">
        <div class="accordeon__content-inner">
          Content Accordeon-3
        </div>
      </div>
    </div>
    <div class="accordeon-wrapper">
      <button class="accordeon__btn">
        Head of marketing & PR
      </button>
      <div class="accordeon__content">
        <div class="accordeon__content-inner">
          Content Accordeon-4
        </div>
      </div>
    </div>
  </div>
</div>