<section class="banner">
  <div class="container">
    <div class="banner__inner">
      <div class="banner__items-wrapper">
        <div class="banner__items">
          <div class="banner__item">
            <p class="banner__item-text">
              Удаленка
            </p>
          </div>
          <div class="banner__item">
            <p class="banner__item-text">
              Высокая зарплата
            </p>
          </div>
          <div class="banner__item">
            <p class="banner__item-text">
              Обучение
            </p>
          </div>
          <div class="banner__item">
            <p class="banner__item-text">
              Вечеринки
            </p>
          </div>
          <div class="banner__item">
            <p class="banner__item-text">
              Сильная команда
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__title">
      Карьера
      <span class="banner__title--red">
        в articul
      </span>
    </div>
    <div class="banner__content">
      <p class="banner__slogan">
        Мы верим, что каждый вновь приходящий обогащает нашу жизнь, привносит свои идеи, свои смыслы, свое настроение, свою уникальность
      </p>
      <div class="banner__announce">
        <p class="banner__announce-num">
          5
        </p>
        <div class="banner__announce-description">
          <span style="--i:1;">О</span>
          <span style="--i:2;">т</span>
          <span style="--i:3;">к</span>
          <span style="--i:4;">р</span>
          <span style="--i:5;">ы</span>
          <span style="--i:6;">т</span>
          <span style="--i:7;">ы</span>
          <span style="--i:8;">х</span>
          <span style="--i:9;"> </span>
          <span style="--i:10;">в</span>
          <span style="--i:11;">а</span>
          <span style="--i:12;">к</span>
          <span style="--i:13;">а</span>
          <span style="--i:14;">н</span>
          <span style="--i:15;">с</span>
          <span style="--i:16;">и</span>
          <span style="--i:17;">й</span>
          <span style="--i:18;"> </span>
        </div>
      </div>
    </div>
  </div>
</section>