<div class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__items animated-element">
        <div class="contacts__item">
          <p class="contacts__item-text">
            просто вы
          </p>
        </div>
        <div class="contacts__item">
          <p class="contacts__item-text">
            Я точно нужен вам,
          </p>
        </div>
        <div class="contacts__item">
          <p class="contacts__item-text">
            пока Не знаете
          </p>
        </div>
      </div>
      <div class="contacts__text animated-element">
        Если вы хотите стать частью нашей команды, 
        но не нашли подходящую вакансию в списке выше, то 
        <a class="contacts__btn" href="#">
          напишите нам
        </a>
      </div>
    </div>
  </div>
</div>