@font-face {
    font-family: "Segoe UI";
    src: url(../fonts/Segoe_UI.ttf) format("ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI Light";
    src: url(../fonts/Segoe_UI_Light.ttf) format("ttf");
    font-weight: 300;
    font-style: normal;
}
