html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}


body {
   font-family: "Segoe UI", sans-serif;
   font-weight: 600;
   font-size: 24px;
   line-height: 24px;
   text-transform: uppercase;
   color: $white;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   display: inline-block;
   text-decoration: none;
   color: rgba($white, .9);
}
p {
   margin: 0 auto;
   font-size: 14px;
   font-weight: 400;
   text-transform: none;
   padding-bottom: 25px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   height: inherit;
   padding-left: 15px;
   padding-right: 15px;
}
.menu__list, 
.portfolio__list {
   display: flex;
   margin-top: 2px;
   margin-right: -30px;
   align-items: center;

   li {
       padding-right: 12px;
   }

   a {

       border: 2px solid transparent;
       padding: 4px 17px 3px 18px;
      font-size: 14px;
      line-height: 24px;

       transition: .3s;

       &:hover {
          color: rgba($blue, .9);
          border: 2px solid rgba($blue, .9);
          padding: 4px 17px 3px 18px;
       }
   }
}

.titles {
   font-family: "Segoe UI Light", Sans-Serif;
   font-weight: 300;
   font-size: 30px;
   line-height: 24px;
   color:$white;
   text-transform: uppercase;
   border-bottom: 2px solid $white;
   width: 45px;
   padding-bottom: 10px;
}
.default__btn {
   width: 140px;
   border: 2px solid $dark;
   margin-top: 6px;
   transition: .3s;
   a{
      font-weight: 800;
      font-size: 14px;
      line-height: 24px;
      color: $dark;
      padding: 9px 37px;
   }
   &:hover {
      border: 2px solid $white;
      a{
         color: $white;
      }
   }
}
.content {
      font-family: "Segoe UI Light", Sans-Serif;
      font-weight: 300;
      font-size: 28px;
      line-height: 50px;
      text-transform: none;
  
      a {
          font-weight: 600;
          letter-spacing: 1px;
      }
}

#menu__toggle {
   opacity: 0;
   display: none;
 }
 
 #menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
 }
 #menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
 }
 #menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
 }
 #menu__toggle:checked ~ .menu__list {
   visibility: visible;
   left: 13px;
 }
 

 .menu__btn,
 .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
         display: none;
      }
 

