@media (max-width: 1250px) {
    .container {
        max-width: 1000px;
    }

    .services__content,
    .portfolio__pictures-content {
        max-width: 220px;
    }

    .portfolio__pictures-content {
        height: 220px;
        width: 220px;

        img {
            height: 220px;
            width: 220px;
        }
    }

    .default__content-info {
        max-width: 370px;
    }

    iframe {
        width: 500px;
        height: 279px;
    }

    .content {
        font-size: 24px;
    }

    .social__content {
        max-width: 750px;
    }

    .about__content-row {
        max-width: 440px;
    }

    .contact__form-column {
        max-width: 420px;

        p {
            padding-top: 10px;
        }
    }

    .contact__form-column {
        input {
            width: 400px;
            height: 50px;
        }
    }

    .contact__form-text {

        textarea {
            height: 200px;
            width: 950px;
        }
    }

    .contact__btn {
        a {
            padding: 12px 100px
        }
    }
}

@media (max-width: 1050px) {

    .container {
        max-width: 650px;
    }

    .header {
        height: 90px;

        &__logo {
            width: 100px;
            margin-top: 0;
        }
    }

    .menu__list,
    .portfolio__list {

        margin-right: 0;

        a {
            padding: 3px 5px 2px 6px;
            font-size: 12px;
            line-height: 18px;

            &:hover {
                padding: 3px 5px 2px 6px;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    .header__menu {
        .menu__list {
            li {
                padding-right: 5px;
            }
        }
    }

    .portfolio__menu {
        .menu__list {
            li {
                padding-right: 5px;
            }
        }
    }

    .text {
        height: 500px;
    }

    .text__inner {
        top: 225px;

        .tagline-up,
        .tagline-down {
            font-size: 24px;
            line-height: 40px;
        }

        .tagline-up {
            width: 405px;
            padding-left: 0;
        }

        .tagline-down {
            width: 560px;
        }
    }

    .titles {
        font-size: 24px;
        line-height: 20px;

        margin-left: 40px;
    }

    .services {
        margin-top: 410px;

        &__title {
            padding-top: 40px;
        }

        &__content {
            margin-top: 25px;
            max-width: 200px;
            margin-right: 25px;
        }
    }

    .services__inner {
        flex-wrap: wrap;
        justify-content: space-around;

        .services__content {
            width: 40%;
        }
    }

    .services__content-favicon {
        margin-bottom: 0;

        img {
            height: 35px;
        }
    }

    .services__content-title {
        font-size: 18px;
        line-height: 20px;
    }

    .portfolio {
        padding: 40px 0 15px 0;
    }

    .portfolio__pictures-row:first-child {
        padding-top: 35px;
        padding-bottom: 0;
    }

    .portfolio__pictures-row {
        flex-wrap: wrap;
        justify-content: space-around;

        .portfolio__pictures-content {
            width: 40%;
            margin-bottom: 25px;
        }
    }

    .default,
    .social,
    .about {
        padding: 40px 0;
    }

    .default__content {
        align-items: center;
    }

    .default__content-info {
        max-width: 300px;

        p {
            font-size: 12px;
            padding-bottom: 15px;
        }
    }

    iframe {
        width: 290px;
        height: 161px;
    }

    .content {
        font-size: 20px;
        line-height: 32px;
    }

    .about {
        height: 365px;

        &__content {
            padding-top: 10px;
        }
    }

    .about__content-row {
        max-width: 300px;

        p {

            font-size: 12px;
            padding-bottom: 15px;
        }
    }

    .about__content-icons {
        padding-top: 45px;

        a {
            width: 45px;
            height: 45px;
            padding: 10px;
        }

        img {
            width: 22px;
        }
    }

    .about__content-icon {
        padding-right: 15px;
    }

    .quote {
        padding: 40px 0;

        &__content {
            padding-left: 0;
            padding-top: 10px;
        }
    }

    .quote__info-icon {
        img {
            height: 22px;
        }
    }

    .quote__author {
        a {
            line-height: 0;
        }
    }

    .contact {
        padding: 40px 0;
        height: 670px;
    }

    .contact__form {
        padding-top: 0;
    }

    .contact__form-items {
        padding-bottom: 45px;
    }

    .contact__form-column {
        max-width: 300px;
        padding-top: 25px;

        p {
            padding-top: 0;
            font-size: 12px;
        }
    }

    .contact__form-column {
        input {
            width: 270px;
            height: 45px;
        }
    }

    .contact__form-text {

        textarea {
            height: 170px;
            width: 610px;
        }
    }

    .contact__btn {
        a {
            padding: 12px 100px
        }
    }


    .footer {
        padding: 40px 0;
    }
}

@media (max-width: 690px) {
    .container {
        max-width: 290px;
        overflow: hidden;
    }

    .header__menu {
        .menu__list {

            li {
                padding-right: 0;
            }
        }
    }

    .header__inner {
        justify-content: center;
    }


    .menu__list {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 10px;
        left: -100%;
        width: 80px;
        height: 100%;
        margin: 0;
        padding: 40px 0;
        transition-duration: .3s;

        a {

            border: none;
            padding: 15px 0;
            font-size: 12px;
            line-height: 22px;

            transition: none;

            color: $white;

            &:hover {
                color: $white;
                border: none;
                padding: 15px 0;

                font-size: 12px;
                line-height: 22px;
            }
        }
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 13px;
        left: 13px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: $white;

        transition-duration: .3s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .header {
        height: 50px;
    }

    .text {
        height: 320px;
    }

    .text__inner {
        top: 135px;

        .tagline-up,
        .tagline-down {
            font-size: 12px;
            line-height: 18px;
            padding: 5px 0;

        }

        .tagline-up {
            width: 210px;
            padding-left: 0;
        }

        .tagline-down {
            width: 290px;
            margin-top: 55px;
        }
    }

    .titles {
        padding-top: 35px;
        font-size: 18px;
        margin-left: 35px;
    }

    .services {
        margin-top: 270px;
        padding-bottom: 35px;
    }

    .services__inner {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 200px;
        padding: 0;

        .services__content {
            width: 100%;
            margin-right: 0;
            max-width: none;
            padding: 0;
        }
    }

    .portfolio__nav {
        display: block;
        
    }
    .portfolio__menu {
        padding-top: 15px;
        padding-bottom: 15px;
        .portfolio__list {
            display: block;
            margin-left: 35px;
            a {

                border: none;
                padding: 15px 0;
                font-size: 12px;
                line-height: 22px;
    
                transition: none;
    
                color: $grey;
    
                &:hover {
                    color: $grey;
                    border: none;
                    padding: 15px 0;
    
                    font-size: 12px;
                    line-height: 22px;
                }
            }
        }
    }

    .portfolio__title {
        padding-top: 0;
    }

    .portfolio__pictures-row {
        display: block;

        .portfolio__pictures-content {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
    .portfolio__pictures-row:first-child{
        padding-top: 0;
    }
    .default__content {
        display: block;

    }

    .default__text {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 200px;
        padding: 15px 0;
        p{
            line-height: 18px;
        }
    }
    .default__btn{
        margin: 0 auto;
        width: 110px;
        a{
            font-size: 12px;
            line-height: 22px;
            padding: 5px 25px;
        }
    }
    iframe {
        margin-top: 25px;
        width: 260px;
        height: 144px;
    }
    .social, .default, .about, .quote {
        padding: 10px 0 20px 0;
    }
    .content {
        font-size: 18px;
        line-height: 26px;
    }
    .social__info {
        align-items: center;
    }
    .social__icon {
        margin-top: 40px;
        margin-right: 75px;
    }
    .social__content,
    .quote__content {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
    }
    .about {
        height: 340px;
    }
    .about__content {
        display: block;
        width: 100%;
        max-width: 200px;
        text-align: center;
        margin: 0 auto;
        p {
            display: none;
        }
        p:last-child {
            display: block;
            font-size: 12px;
            line-height: 18px;
        }
    }
    .about__content-icons {
        justify-content: space-between;
        padding-top: 20px;
        width: 100%;
        max-width: 200px;
    }
    .about__content-icon {
        a {
            width: 39px;
            height: 39px;
            padding: 7px;
        }
    }
    .quote__info-icon {
        margin-top: 35px;
        margin-right: 50px;
    }
    .quote__author {
        text-align: center;
    }
    .contact {
        height: 550px;
        padding-top: 10px;
        p {
            display: none;
        }
        p:last-child {
            display: block;
            font-size: 12px;
            line-height: 18px;
        }
    }
    .contact__form-inner,
    .contact__form-text,
    .contact__btn {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }
    .contact__form-column {
        padding-top: 15px;
    }
    .sign {
        padding-bottom: 0;
        font-size: 12px;
        line-height: 20px;
    }
    .contact__form-items {
        padding-bottom: 15px;
        input {
            width: 170px;
            height: 30px;
            font-size: 14px;
        }
    }
    .contact__form-text {
        textarea {
            width: 185px;
            height: 70px;
        }
    }

    .contact__btn {
        a{
            font-size: 12px;
            padding: 8px 70px;
        }
    }
    .footer__inner {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        
        align-items: center;
    }
    .footer__list{
        flex-wrap: wrap;
        li{
            width: 40%;
        }
        a{
            font-size: 10px;
            line-height: 18px;
        }
        li:nth-child(-n+3)::after {
            content: none;
            color: transparent;
            padding-right: 0;
        }
    }
    .footer__copyright {
        width: 50px;
        font-size: 10px;
        line-height: 18px;
    }
}

@media (max-width: 490px) {
    .text__inner {

        .tagline-up,
        .tagline-down {
            font-size: 11px;
            line-height: 16px;
            position: absolute;
            right: 15px;
            margin-bottom: 0;
            padding: 5px 0;

        }

        .tagline-up {
            width: 150px;
            padding-left: 0;
        }

        .tagline-down {
            width: 200px;
            margin-top: 55px;
        }
    }
}