@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
    position: relative;
    background-color: rgba($bg, .85);
    height: 150px;
    z-index: 1;
}

.header__logo {
    width: 127px;
    height: 24px;
    margin-top: 2px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__menu {
    .menu__list {
        li {
            padding-right: 12px;
        }
    }
}

.text {
    position: absolute;
    top: 0;
    height: 800px;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text__inner {
    width: 100%;
    position: relative;
    top: 400px;
    
    margin: 0 auto;

    .tagline-up,
    .tagline-down {
        font-family: "Segoe UI Light", Sans-Serif;
        padding-bottom: 5px;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-weight: 300;
        font-size: 42px;
        line-height: 60px;
        background-color: rgba($bg, .85);

    }

    .tagline-up {
        width: 713px;
        padding-left: 10px;
    }

    .tagline-down {
        margin-top: 12px;
        width: 990px;
    }
}

.services {
    width: 100%;
    background-color: $blue;
    margin-top: 650px;
    padding-bottom: 76px;
}

.services__title {
    padding-top: 78px;
}

.services__inner {
    display: flex;
    justify-content: space-between;
}

.services__content {
    margin-top: 40px;
    max-width: 270px;
    width: 100%;

    &-favicon {
        margin-bottom: 18px;
        height: 48px;
    }

    &-title {
        margin-bottom: 13px;
    }

    &-text {
        font-size: 12px;
        line-height: 18px;
        text-transform: none;
    }
}

.portfolio {
    color: $grey;
    padding: 78px 0 80px 0;
    position: relative;
    width: 100%;

    &__nav {
        display: flex;
        justify-content: space-between;
    }
}

.portfolio__title {
    color: $grey;
    border-bottom: 2px solid $grey;
    width: 45px;
    padding-bottom: 10px;
}

.portfolio__menu {
    .portfolio__list {
        li {
            padding-right: 17px;
        }

        a {
            color: rgba($grey, .9);

            &:hover {
                color: rgba($blue, .9);
            }
        }
    }
}

.portfolio__pictures-row:first-child {
    padding-top: 80px;
    padding-bottom: 30px;
}

.portfolio__pictures-row {
    display: flex;
    justify-content: space-between;
}

.portfolio__pictures-content {
    max-width: 270px;
    height: 270px;
    width: 100%;
    transition: .3s;
    position: relative;

    &:hover::before {
        content: "";
        background-image: url(../images/plus.svg);
        width: 32px;
        height: 32px;
        color: $white;
        position: absolute;
        z-index: 1;
        left: calc(50% - 16px);
        top: calc(50% - 16px);

    }

    &:hover::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(#495259, .9);
    }


}

.default {
    position: relative;
    padding: 78px 0 80px 0;
    background-color: $grey;

    &__content {
        display: flex;
        justify-content: space-between;
    }
}

.default__title {
    width: 350px;
    border-bottom: none;
    position: relative;
    padding-bottom: 20px;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 45px;
        border-bottom: 2px solid $white;
        bottom: 7px;
    }
}

.default__text {
    padding-top: 25px;
}

.default__content-info {
    max-width: 470px;
    width: 100%;
}

.social {
    position: relative;
    padding: 78px 0 67px 0;
    background-color: $blue;

    &__info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;
    }
}

.about {
    padding-top: 95px;
    top: 0;
    height: 505px;
    width: 100%;
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about__title {
    width: 350px;
    border-bottom: none;
    position: relative;
    padding-bottom: 20px;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 45px;
        border-bottom: 2px solid $white;
        bottom: 7px;
    }
}

.about__content {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;

    &-row {
        max-width: 571px;
        width: 100%;
    }
}

.about__content-icons {

    display: flex;
    justify-content: start;
    padding-top: 8px;

    a {
        width: 64px;
        height: 64px;
        border: 2px solid $white;
        padding: 15px;


    }

    img {
        width: 30px;

    }
}

.about__content-icon {

    padding-right: 20px;
}

.quote {
    padding: 78px 0 60px 0;
    color: $grey;

    &__info {
        display: flex;
        justify-content: space-between;
    }
}

.quote__title {
    color: $grey;
    border-bottom: 2px solid $grey;
    width: 45px;
    padding-bottom: 10px;
}

.quote__info-icon {
    img {
        height: 28px;
    }
}

.quote__content {
    padding-top: 25px;
    padding-left: 1px;
}

.quote__author {
    padding-top: 10px;

    a {
        font-family: "Segoe UI", sans-serif;
        font-weight: 800;
        font-size: 14px;
        line-height: 50px;
        color: $blue;
        text-transform: none;
        transition: .3s;

        &:hover {
            color: $grey;
        }
    }

}

.contact {
    padding: 78px 0 78px 0;
    top: 0;
    height: 814px;
    width: 100%;
    background-image: url(../images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact__form {
    padding-top: 32px;
}

.contact__form-inner {
    display: flex;
    justify-content: space-between;
}

.contact__form-column {
    max-width: 570px;
    width: 100%;

    p {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    input {
        height: 58px;
        width: 470px;
        background-color: transparent;
        border: 2px solid $white;
        outline: none;

        color: rgba($white, .9);
        font-size: 18px;
        font-weight: 300;
        letter-spacing: .9px;

        padding: 0 10px;
    }

}

.contact__form-items {
    padding-bottom: 34px;

}

.contact__form-text {
    padding-bottom: 38px;

    textarea {
        height: 220px;
        width: 1170px;
        resize: none;
        background-color: transparent;
        border: 2px solid $white;
        outline: none;

        color: rgba($white, .9);
        font-size: 18px;
        font-weight: 300;
        letter-spacing: .9px;

        padding: 15px 10px;
    }

}

.sign,
.contact__btn {
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $white;
}

.contact__btn {
    a {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: $dark;
        padding: 16px 150px;
        border: 2px solid $blue;
        color: $white;
        background-color: $blue;
        transition: .3s;

        &:hover {
            border: 2px solid $white;
        }
    }
}

.footer {
    padding: 71px 0 74px 0;
    background-color: #353f47;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.footer__list {

    display: flex;
    align-items: center;
    position: relative;
    li:nth-child(-n+3)::after {
        content: "|";
	    color: $grey;
        padding-right: 13px;
    }

    a {
        color: $grey;
        font-size: 12px;
        line-height: 24px;
        font-weight: 600;
        
        padding-right: 13px;
        transition: .3s;
        &:hover {
            color: rgba($white, .9);
        }
    }

}
.footer__copyright,
.footer__list {
    color: $grey;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
}


@import "media";