@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: 0 auto;

    &__inner {
        padding: 20px 0 66px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}

.logo {
    padding-top: 6px;
}

.menu {
    margin-left: -238px;

    &__list-item {
        display: inline-block;

        &+.menu__list-item {
            padding-left: 58px;
        }
    }
}

.header__info {
    color: #fff;
    text-align: right;
    padding-top: 25px;

    &-phone {
        @extend %montserrat-bold;
        font-size: 24px;
    }

    &-text {
        font-size: 18px;
        margin: 5px 0 0;
    }
}

.header__results {
    padding: 34px 0 66px;
    color: #fff;
    @extend %montserrat-bold;
    font-size: 38px;
    line-height: 46px;
}

.content__sort {
    display: flex;
    justify-content: start;
    padding: 37px 0 38px;

    font-size: 18px;
    line-height: 22px;
    color: #000000;

    &-text {
        @extend %montserrat-bold;
        padding-right: 48px;
    }

    &-price {
        padding-right: 85px;
        position: relative;

        a {
            position: absolute;
            top: 3px;
            right: 55px;
        }
    }

    &-age {
        position: relative;
        padding-right: 39px;

        a {
            position: absolute;
            top: 3px;
            right: 0;
        }
    }
}

.content__blocks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.content__block {
    max-width: 32.2%;
    margin-bottom: 27px;
    position: relative;

    &-wrapper {
        position: relative;
        max-width: 380px;
        width: 100%;
        background: $block-bg;
    }

    &-form {
        padding: 25px 29px 29px 28px;
    }

    &-title {
        @extend %montserrat-bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 19px;
    }

    &-descr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 22px;
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 15px;

        span {
            @extend %montserrat-bold;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &-color::before {
        content: "";
        position: absolute;
        top: 2px;
        left: -22px;
        width: 4px;
        height: 26px;
        background-color: #6EBBD3;
    }

    &-color,
    &-age,
    &-num {
        position: relative;
        max-width: 89px;
        width: 100%;
    }

    &-age,
    &-num {
        padding-left: 18px;
        margin-top: 2px;
    }

    &-price {
        padding: 4px 0 0;
        @extend %montserrat-bold;
        font-size: 24px;
        line-height: 29px;
    }
}

.content__show {
    margin-top: 61px;
    text-align: center;
}

.content__inner {
    position: relative;
    margin-bottom: 106px;
}

.footer__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: $dark;
    height: 312px;
    color: #fff;
    padding: 83px 80px 92px;
}
.footer__inner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 99%;
    height: 312px;
    width: 100%;
    background: $dark;
}
.footer__inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 99%;
    height: 312px;
    width: 100%;
    background: $dark;
}

.footer__subscription {
    &-title {
        @extend %montserrat-bold;
        font-size: 48px;
        line-height: 59px;
    }

    &-text {
        width: 350px;
        font-size: 28px;
        line-height: 91.2%;
    }
}

.footer__form {
    padding-top: 6px;
    &-line {
        margin-bottom: 24px;
    }
    &-input {
        margin-right: 10px;
        width: 300px;
        height: 65px;

        border-radius: 10px;

    }

    &-btn {
        width: 250px;
        height: 65px;

        background: $blue;
        border-radius: 10px;
        
    }

    &-sub {


        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
}


@import "media";